doctype html
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
html(ng-app='myApp', id="ng-app")
	include header
	body
		block content
	//- block content
	block scripts
	//- include includes/footer 